@{
    ViewData["Title"] = "Reserve su cita Médica";
}

<div class="text-center">
    <h1 class="display-4">Reserve su cita Médica</h1>
    <a class="btn btn-primary btn-lg px-4 gap-3" asp-controller="AQ_CitaMedica" asp-action="Index">AQ_CitaMedica</a>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
